<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercadoliebre</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="/css/home.css" />
    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!--Fontawesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img
        id="logo"
        src="/images/logo-mercado-liebre.svg"
        alt="Logo mercado liebre"
      />
      <div class="busqueda">
        <input type="text" placeholder="Buscar productos, marcas" />
      </div>
      <button class="busqueda">
        <i class="fa fa-search"></i>
      </button>
      <p>
        <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
        tarjeta de crédito
      </p>
      <nav>
        <ul class="menu-top">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href=""
              >Crea tu cuenta <i class="fa-solid fa-credit-card"></i>
            </a>
          </li>
          <li>
            <a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <section>
        <h3>Basado en tu última visita</h3>
        <article>
          <img
            width="100%"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$6.770</p>
          <p>40% OFF</p>
          <strong>Cafetera Moulinex</strong>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$230.000</p>
          <p>20% OFF</p>
          <strong>MacBook Pro 2019</strong>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$70.500</p>
          <p>10% OFF</p>
          <strong>Samsung Galaxy S10</strong>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$23.200</p>
          <p>5% OFF</p>
          <strong>SmartTv Samsung 43"</strong>
        </article>
      </section>

      <section>
        <h3>Basado en tu última visita</h3>
        <article>
          <img
            width="100%"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$6.770</p>
          <p>40% OFF</p>
          <strong>Cafetera Moulinex</strong>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$230.000</p>
          <p>20% OFF</p>
          <strong>MacBook Pro 2019</strong>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$70.500</p>
          <p>10% OFF</p>
          <strong>Samsung Galaxy S10</strong>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Cafetera Moulinex"
          />
          <p>$23.200</p>
          <p>5% OFF</p>
          <strong>SmartTv Samsung 43"</strong>
        </article>
      </section>
    </main>

    <footer>
      <article>
        <i class="fas fa-credit-card"></i>
        <h4>Paga con tarjeta o en efectivo</h4>
        <p>
          Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo
          en puntos de pago ¡Y siempre es seguro!
        </p>
      </article>
      <article>
        <i class="fas fa-gift"></i>
        <h4>Envio gratis desde $2500</h4>
        <p>
          Solo por estar registrado en Mercado Liebre tenes envios gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article>
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo!. En Mercado Liebre, no hay nada que no
          puedas hacer, porque estas siempre protegido
        </p>
      </article>
      <p id="copyright">Copyright (C) 1999-2020 MercadoLiebre S.R.L</p>
      <p></p>
    </footer>
  </body>
</html>


